<div class="row">

<div class="col-md-5 col-md-offset-1" id="menu">
    <h2 class="burgers-to-eat">Burger Menu</h2>
    <ul class="uneaten">
        {{#each burgers}}
            {{#unless this.devoured}}
                <li>
                    <p id="menu-burger">
                        {{this.burger_name}}
                    </p>
                    <form action="burgers/update/{{this.id}}?_method=POST" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" class="btn btn-primary" id="devour-burger">Devour!</button>
                    </form>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col-md-5" id="eaten">
      <br><br><br>
      <h2 class="eaten-title">Eaten Burgers</h2>
      <ul class="burgers-eaten">
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              <p id="eaten-burgers">
                {{this.burger_name}}
              </p>
            </li>
            <form action="burgers/update/{{this.id}}?_method=PUT" method="PUT">
             <input type="hidden" name="devoured" value="false">
          {{/if}}
        {{/each}}
      </ul>
    </div>
</div>


<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-4" id="update">
      <br><br><br>
        <form class="create-update-form" action="burgers/create" method="POST">
          <h2 class="add-title">Add a Burger to teh menu</h2>
          <div class="form-group">
            <label for="newBurger">Burger Name:</label>
            <input type="hidden" name="devoured" value="0">
            <input type="text" id="newBurger" name="burger_name">
          <button type="submit" class="btn btn-default create-form" style="background-color:cadetblue; color: black">Add Burger</button>
        </form>
      </div>
    </div>

</div>


